<div class="product">
  <div class="product-details">
    <img [src]="getImageUrl(product)" [alt]="product.name" />
    <div class="product-info">
      <div class="name">{{product.name}}</div>
      <div class="description">{{product.description}}</div>
      <div class="category">Part Type: {{product.category}}</div>
    </div>
  </div>
  <div class="price">
    <div [ngClass]="getDiscountedPriceClasses(product)">{{product.price | currency:"MXN"}}</div>
    <div class="discount" *ngIf="product.discount > 0">{{product.price | currency:"MXN"}}</div>
    <button class="cta" (click)="triggerAdd(product)">Buy</button>
  </div>
</div>
